<!-- Steps to include in wizard

home            British or Irish            reuse engage ones? as icon font?
eu              An EU citizen
international   Any other nationality        <i class="fas fa-globe"></i>

new             First year on course         <i class="fas fa-plus-circle"></i>
returner                                     <i class="fas fa-sync"></i>

stdstart        Start date in September
nonstdstart                              <i class="fas fa-calendar-alt"></i>

fulltime        Full time
parttime                                      <i class="fas fa-user-clock"></i>

distance        Distance learner              <i class="fas fa-satellite-dish"></i>
campus

-->

      <div class="stage eu  new returner  stdstart nonstdstart  fulltime parttime  distance campus">
        <h3>EU citizens</h3>
        <p>Settled status... Aenean porta odio a tellus viverra bibendum. Cras sit amet erat eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div>


      <div class="stage  home eu international  new  stdstart nonstdstart  fulltime parttime  distance campus">
        <h3>IT account</h3>
        <p>New students ... Consectetur adipiscing elit. Sed vel ligula sit amet ipsum euismod eleifend ac sit amet ante. Fusce sollicitudin, augue sit amet tempor hendrerit, enim erat sodales diam, a suscipit erat mauris tempor ante. Aenean porta odio a tellus viverra bibendum.</p>
      </div>


      <div class="stage  home eu international  new returner  stdstart nonstdstart  fulltime parttime  distance campus">
        <h3>Online registration</h3>
        <p>All students ... Consectetur adipiscing elit. Sed vel ligula sit amet ipsum euismod eleifend ac sit amet ante. Fusce sollicitudin, augue sit amet tempor hendrerit, enim erat sodales diam, a suscipit erat mauris tempor ante. Aenean porta odio a tellus viverra bibendum. Cras sit amet erat eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div>


      <div class="stage  international  new  stdstart  fulltime parttime  distance campus">
        <h3>Confirmation of attendance </h3>
        <p>New international students standard start ... Consectetur adipiscing elit. Sed vel ligula sit amet ipsum euismod eleifend ac sit amet ante. Fusce sollicitudin, augue sit amet tempor hendrerit, enim erat sodales diam, a suscipit erat mauris tempor ante. Aenean porta odio a tellus viverra bibendum.</p>
      </div>

      <div class="stage  international  new  nonstdstart  fulltime parttime  distance campus">
        <h3>Confirmation of attendance </h3>
        <p>New international students non-standard start ... Consectetur adipiscing elit. Sed vel ligula sit amet ipsum euismod eleifend ac sit amet ante. Fusce sollicitudin, augue sit amet tempor hendrerit, enim erat sodales diam, a suscipit erat mauris tempor ante. Aenean porta odio a tellus viverra bibendum.</p>
      </div>

      <div class="stage  home eu  new  stdstart nonstdstart  fulltime parttime  distance campus">
        <h3>Confirmation of attendance </h3>
        <p>New home students ... access wifi... a suscipit erat mauris tempor ante. Aenean porta odio a tellus viverra bibendum.</p>
      </div>


      <div class="stage  home eu international  new  stdstart nonstdstart  fulltime parttime  distance campus">
        <h3>University card</h3>
        <p>New ... Sed ac risus quis libero luctus vulputate vel sed lorem. Praesent eget lacus condimentum metus lacinia maximus vitae et nunc.</p>
      </div>





      <div class="stage  home eu international  new  sstdstart nonstdstart  fulltime parttime  distance">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Extra notes re distance... Consectetur adipiscing elit. Sed vel ligula sit amet ipsum euismod eleifend ac sit amet ante. Fusce sollicitudin, augue sit amet tempor hendrerit, enim erat sodales diam, a suscipit erat mauris tempor ante. Aenean porta odio a tellus viverra bibendum. Cras sit amet erat eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div>



      <div class="stage  home eu international  new  stdstart nonstdstart  parttime  distance campus">
        <h3>Fusce sollicitudin</h3>
        <p>Extra notes re part time... Fusce semper diam sapien, et placerat sapien luctus vel. Integer quis aliquam sapien. Cras ut enim mauris. Fusce sollicitudin, augue sit amet tempor hendrerit, enim erat sodales diam, a suscipit erat mauris tempor ante. Aenean porta odio a tellus viverra bibendum. Cras sit amet erat eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div>
